{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="card col-sm-10 mx-auto my-4 bg-light" id="summary">
    <div class="card-body row">
        <h2 class="col d-flex justify-content-center align-items-center">{{post.title}}</h2>
        <article class="col text-center">
            <img height="150" width="150" src="{{post.image}}" alt="Post">
            <div>
            <address class="mt-3">By:  <strong>{{ post.author }}</strong></address>
                <span>Last updated on: <time>{{ post.date|date:"d M Y"  }}</time></span>
        </div>
        </article>
    </div>
</div>
<main class="card card-body col-sm-10 my-4 mx-auto">
    {{post.content| linebreaks}}
</main>
{% endblock %}